.restaurant-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

}

.presentation-section {
    max-width: 1055px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 290px;

}

.restaurant-section img {
    position: relative;
    object-fit: cover;
    width: 100%;
    max-width: 1440px;
    height: 275px;
}


.full-heart-menu {
    bottom: 45%;
    opacity: 0;
    position: absolute;
    font-size: 23px;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empty-heart-menu {
    bottom: 45%;
    opacity: 1;
    position: absolute;
    width: 22px;
    height: 21px;
    font-size: 22px;
}

.full-heart-menu:hover {
    opacity: 1;
    scale: 1.2;
    transition: 0.2s ease;
}

.restaurant-title {
    width: 100%;
    max-width: 1055px;
    background-color: #f3F3F3;
    display: flex;
    justify-content: center;
    gap: 12px;
    border-radius: 40px 40px 0 0; 
}
.restaurant-title h3 {
    height: 27px;
    margin-top: 31px;
}

.menu-wrapper {
    width: 100%;
    max-width: 1055px ;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.restaurant-title h3 {
    font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 42px ;
}

.menu-list {
    background-color: #f3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.meal-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width:635px;
}

.dish-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-wrapper h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.green-line {
    border: solid 3px #99E2D0;
    width: 40px;
    margin-top: 7px;
    margin-bottom: 12px;
}

.meal-box {
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.meal-box-description {
    width: 85%;
    display: flex;
    padding-left: 15px ;
    flex-direction: column;
    gap: 7px;
}

.meal-box-price-check {
    display: flex;
        margin-right: -3.5rem;
    height: 100%;

}

.check {
    background-color: #99E2D0;
    height: 100%;
    width: 3.5rem;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.check-circle {
    background-color: white;
    border-radius: 50px;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check i {
    font-size: 1rem ;
}

.price {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-top: 15px;
}

.meal-box h4 {
    font-size: 0.9rem ;
    font-weight: 700;
}

.meal-box h2 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.meal-box p {
    font-size: 0.9rem;
    font-weight: 300;
        text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
}


.meal-box:hover {
    .meal-box-price-check {
        margin-right: 0rem;
        transition: 0.5s;
    }
    .meal-box-description {
        width: 65%;
    }
}

.menu-button {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1055px;
    width: 100%;
    background-color: #f3F3F3;
}

.menu-button button {
    width: 186px;
    height: 50px;
}

